<%= form_for @player do |f| %>

<!-- Display Errors -->
<% if @player.errors.any?%>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
    <% @player.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
<!-- End errors -->

<p>
	<%= f.label :name%>
	<%= f.text_field :name%>
</p>
  <p>
    <%= f.submit nil, :class => "btn btn-primary" %>
  </p>
<% end %>